@charset "UTF-8";
/*
Typical Device Breakpoints:
pequenos celulares e outros dispositivos menores: maximo 600px
celulares: minimo 600px
Tablets: minimo 768px maximo 992px
Desktops: minimo 992px maximo 1200px 
tv/Telas grandes: acima de 1200px
*/

@media print{
    *{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body{
        background-image: url(../imagens/back-print.jpg);/* Não funciona */
    }
    #celular{
        display: none;
    }
    #print{
    display: block;
    }
    main{
        border: 2px solid  black;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image:url(../imagens/back-tablet.jpg);
    }
    #celular{
        display: none;
    }
    #tablet{
        display: block;
    }
    main{
        width: 50vw;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #celular{
        display: none;
    }
    #pc{
        display: block;
    }
    main{
        width: 50vw;
    }
}
@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #tv{
        display: block;
    }
    #celular{
        display: none;
    }
    main{
        width: 50vw;
    }
}/* cconfigurações aplicadas apenas se as media  features forem atendidas */