@media screen and (min-width:768px){
    body{
        font-size: 1.3em;
    }
    header > menu{
        display: block;
    }
    #burguer{
        display: none;
    }
    li{
        display: inline-block;
    }
}