@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%; 
    padding: 0%;
}
body{
    margin-top: 0px;
    background-color: blueviolet;
}
header{
    background-color: lightgray;
    margin: 0px;
    margin-bottom: 15px ;
}
header > h1{
    text-align: center;
    margin: 0%;
    padding: 20px;
}header > menu > ul > li > a{
    text-decoration: none;
    background-color: rgb(97, 97, 97);
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}
header > menu > ul > li > a:hover{
    background-color: gray;
    transition: 0.800s;
}
#burguer{
    background-color: rgb(91, 91, 91);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
#burguer:hover{
    color: black;
    background-color: white;
    transition: 0.800s;
    cursor: pointer;
}
header menu{
    display: none;
}
header ul{
    list-style: none;
    padding-left: 0px;
}
main{
    min-width:400px;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    margin: auto;
}
main h2{
    margin-bottom: 15px;
}
p{
    text-indent: 15px;
    text-align: justify;
    margin-bottom: 15px;
}
