@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'open sans';
    background-image: linear-gradient(to right, rgb(68, 212, 238), aquamarine);
}h1{
    text-align:center;
}main{
    text-align: justify;
    margin: auto;
    width: 500px;
}p{
    text-indent: 10px;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
    padding: 10px;
}h2{
    font-size: 2em;
}h1{
    font-size: 3em;
}footer{
    text-align: right;
}